//
// Copyright (c) 2015-present, Parse, LLC.
// Portions Copyright (c) 2017-present, Nikita Lutsenko
//
// All rights reserved.
//
// This source code is licensed under the BSD-style license found
// in the LICENSE file in the root directory of this source tree.
//

BUNDLE_LOADER = $(TEST_HOST)

OTHER_LDFLAGS = $(inherited) -ObjC -framework XCTest
