//
// Copyright (c) 2014, Facebook, Inc.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

OTHER_LDFLAGS = $(inherited) -ObjC -framework XCTest
BUNDLE_LOADER = $(TEST_HOST)

LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/Frameworks @executable_path/Frameworks
USER_HEADER_SEARCH_PATHS = $(value) $(PARSE_DIR)/Tests/**
