//
// Copyright (c) 2014, Facebook, Inc.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

#include "Shared/Platform/iOS.xcconfig"
#include "Shared/Product/Framework.xcconfig"

PRODUCT_NAME = Bolts
PRODUCT_BUNDLE_IDENTIFIER = com.bolts.ios
IPHONEOS_DEPLOYMENT_TARGET = 8.0

MACH_O_TYPE = mh_dylib
DYLIB_INSTALL_NAME_BASE = @rpath

DEFINES_MODULE = YES
MODULEMAP_FILE = $(SRCROOT)/Bolts/Resources/iOS.modulemap

OTHER_CFLAGS[sdk=iphoneos9.*] = $(inherited) -fembed-bitcode

OTHER_LDFLAGS = $(inherited) -ObjC -framework CoreGraphics -framework UIKit

INFOPLIST_FILE = $(SRCROOT)/Bolts/Resources/iOS-Info.plist
