//
// Copyright (c) 2014, Facebook, Inc.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 5.0

GCC_THUMB_SUPPORT = NO

ARCHS = $(ARCHS_STANDARD) armv7s
DSTROOT = /tmp/$(PRODUCT_NAME).dst

CODE_SIGN_IDENTITY =
CODE_SIGNING_REQUIRED = NO

TARGETED_DEVICE_FAMILY = 1,2
